<html>
	<head>
		<link rel="stylesheet" href="/style.css" type="text/css">
    <title>Bulldog Taxi</title>
  </head>
  <body>
    <div id="header">
    	<h1>Bulldog Taxi</h1>
  	</div>
    <div id="links">
    	<h2><a href="/"><h2>Home</h2></a>
    	<!-- <h2><a href="/confirmation"><h2>Confirmation</h2></a> -->
  	</div>

    <!-- <div class="confirm">
  	</div> -->

    <!-- <div class="most_recent">
  	</div> -->


    <% master_hash.each do |key, value| %>
    <div class="rider">
    	<p> <b>Name:</b> <%=value["name"]%> </p>
    	<p> <b>Email:</b> <%=value["email"] %> </p>
    	<p> <b>Arrival Time:</b> <%=value["arrival_time"] %> </p>
    	<form method="post" action="/index/confirmation/<%=value['name']%>">
        <input name="_method" type="submit" value="delete">
      </form>
    </div>
    <% end %>

  </body>
</html>