<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Bulldog Taxi</title>
  </head>
  <body>

    <div class="logo center row" align="center">
      <br>
      <br>
      <img src="cover_photo.jpg" height="300" width="480" align="middle">
    </div>
  
    <div id="pitch">
      <h2>Bulldog Taxi has moved to a new site</h2>
        <p>Please visit us at <a href="http://bulldogtaxi.herokuapp.com/">our new site.</a></p>
    </div>

      <!-- <div id="button">
          <button class="B_to_Y" type="button">Book a Taxi: Bradley to Yale</button>
      </div> -->
  </body>
</html>