<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Bulldog Taxi</title>
  </head>
  <body>
    <div id="header">
      <h1>Bulldog Taxi</h1>
    <!-- <div id="nav"> -->
    </div>
      <!-- <div id="links"
      <h2><a href="/"><h2>Home</h2></a>
      <h2><a href="/confirmation"><h2>Confirmation</h2></a>
      </div> -->
    <div id="pitch">
      <h2>Never wait for the bus again...</h2>
        <p>If you've taken CT Limo, you know how frustrating getting to Yale can be. With Bulldog Taxi, you can reserve a ride from the airport in advance. Ride in comfort, and don't waste time waiting for a crowded bus. If you ride with at least two other people, you'll even save money. It's that simple.</p>
          
    </div>

    <form method='post' action='/'>
      <input type='text' name='name' placeholder='Your Name' size='30px'><br>
      <input type='text' name='email' placeholder='Your Email' size='30px'><br>
      <input type='text' name='arrival_time' placeholder='Flight Arrival Time' size='55px'><br>
      <input type="submit" value="submit">
    </form>
      <!-- <div id="button">
          <button class="B_to_Y" type="button">Book a Taxi: Bradley to Yale</button>
      </div> -->
  </body>
</html>