body {
    background-color: rgba(14,76,146,.2);
    text-align: center;
    margin: 0;
}
/*a {
    text-align: center;
    color: #0F4D92;
    font-weight: bold;
    font-family: Yale;
    font-size: 30px;
    background-color: gray;
    padding: 5px 10px;
    margin: 30px;
    border-radius: 10px;
}*/
/*a:hover {
    color: white;
}*/

#logo {
    width: 40%;
    height: 8%;
    margin-top: 25px;
}

#pitch {
    width: 55%;
    background-color: rgba(14, 76, 146, .7);
    color: white;
    font: helvetica;
    border-style: solid;
    padding: 15px;
    border-radius: 10px;
    margin: 40px auto 25px auto;
}

h2 {
    display: inline;
    font-size: 30px;
    font-family: Helvetica;
    padding: 5px 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}

p {
    font-size: 22px;
    font: helvetica;
}

/*#button {
    width: 80%;
    margin: 25px auto 25px;
}
button:hover {
    color: #212182;
}*/